<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit @<%= stu_det.name %> detail</h1>
    <form action="/home/<%= stu_det._id %>/edit?_method=PATCH" method="post">
        <textarea name="name"><%= stu_det.name %></textarea>
        <br />
        <textarea name="course"><%= stu_det.course %></textarea>
        <br />
        <textarea name="admno"><%= stu_det.admno %></textarea>
        <br />
        <textarea name="residence"><%= stu_det.residence %></textarea>
        <br />
        <button>Edit</button>
    </form>
    <br>
    <b>
        <form action="/home" method="get">
            <button>Back To Main Page</button>
        </form>
    </b>
</body>
</html>